SYNCHROTEAM_LIST_URL=https://cvtitsolutions.synchroteam.com/api/v3/job/list
SYNCHROTEAM_CUSTOMER_LIST_URL=https://cvtitsolutions.synchroteam.com/api/v3/customer/list
SYNCHROTEAM_SITE_LIST_URL=https://cvtitsolutions.synchroteam.com/api/v3/site/list
SYNCHROTEAM_USERNAME=cvtitsolutions
SYNCHROTEAM_PASSWORD=YOUR_PASSWORD
SYNCHROTEAM_JOB_ID=
